.menu {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 705px; 
	padding: 0;
}
.menu li {
	display: inline-block;
    text-decoration: none;
    width: 132.8px;
    height: 45px;
    text-align: center;
    vertical-align: top;
    border: 1px solid #ddd;
    margin-left: 0;
    margin-right: 5px;
    padding: 1px;
}

.frame{
	width: 100%;
	position: relative;
	display: block;

}
.banner {
	width: 700px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.content {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	border: 1px solid #ddd;
	border-radius: 4px 4px 0 0;
    box-shadow: none;
	padding: 6px;
}