<!-- Begin Library -->
<div class="frame">
	<div class="content">
		<table id="events-table" data-toggle="table" data-url="/documents-data/" data-height="400" data-pagination="true" data-search="true" data-click-to-select="true" data-show-columns="true">
		    <thead>
		        <tr>
		            <th data-field="state" data-checkbox="true"></th>
		            <th data-field="doc_id" data-align="left" data-sortable="true">Doc ID</th>
		            <th data-field="title" data-align="left" data-sortable="true">Title</th>
					<th data-field="authorship" data-align="left" data-sortable="true">Authorship</th>
		            <th data-field="role" data-align="left" data-sortable="true">Role</th>
		        </tr>
		    </thead>
		</table>
	</div>
</div>
<!-- End library -->

