<html>
<head>
<link rel="stylesheet" href="/static/bootstrap.min.css">
<link rel="stylesheet" href="/static/bootstrap-table.css">
<link rel="stylesheet" href="/static/style.css">
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script src="/static/bootstrap-table.js"></script>
<script> $( document ).ready(function() {
    console.log( "ready!" );
});
</script>
</head>
<body>
{% include 'header.html' %}

{% include 'menu.html' %}

<div class="frame">
	<div class="content">
		<h2>Welcome to py_style</h2>
		{% include 'add_remove_edit_widget.html' %}
		{% include 'strip_widget.html' %}
	</div>
</div>

</body>
</html>

