<!-- Begin Library -->
<div class="frame">
	<div class="content">
		<table id="events-table" data-toggle="table" data-url="/documents-data/" data-height="400" data-pagination="true" data-search="true" data-click-to-select="true" data-show-columns="true">
		    <thead>
		        <tr>
		            <th data-field="state" data-checkbox="true"></th>
		            <th data-field="first" data-align="left" data-sortable="true">First Name</th>
		            <th data-field="last" data-align="left" data-sortable="true">Last Name</th>
		        </tr>
		    </thead>
		</table>
	</div>
</div>
<!-- End library -->

